name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1

jobs:
  build:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'     
      - name: Install dependencies and build
        run: npm ci
      - name: Run ESLint
        run: npm run lint     
      - name: Run tests
        run: npm test